"""
Task 1 :

input: [[1,'a',['cat'],2],[[[3]],'dog'],4,5]

output: [1,'a','cat',2,3,'dog',4,5]

---------------------------------------------
Task 2 :

input: [[1, 2], [3, 4], [5, 6, 7]]

output: [[[7, 6, 5], [4, 3], [2, 1]]
"""

# Task 1 - flatten

emptylist = []
    
def flat(l):
    for i in l:
        if type(i)==list:
            flat(i)
        else:
            emptylist.append(i)

flat([[1,'a',['cat'],2],[[[3]],'dog'],4,5])
print(emptylist)

#Task 2 - reverse

l = [[1, 2], [3, 4], [5, 6, 7]]
emptylist = []

def rev(l): 
    for i in l:
        if type(i)==list:
            emptylist.append(list(reversed(i)))
            
            
        

rev([[1, 2], [3, 4], [5, 6, 7]])
print(list(reversed(emptylist)))
